<!-- <app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row"></div>
  <div class="col-xs-12">
    <h1 class="text-center">{{ title }}</h1>
  </div>

  <div class="row">
    <div class="col-xs-12   ">
      <img class="img-circle img-responsive center-block" src="{{ imgUrl }}" alt="Image"
        style="width: 200px; height: 200px;">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Clicked {{ count }} times.</h3>
      <button type="submit" class="btn btn-lg btn-primary center-block" (click)="incrementCount()">Add</button>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-lg btn-warning center-block" (click)="clearCount()">Clear</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 ">
      <label for="name"></label>
      <input class="center-block" name="name" type="text" [(ngModel)]="name">
      <h4 class="text-center"> Welcome {{ name }} </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 ">
      <label for="username"></label>
      <input class="center-block" name="username" type="text" [ngModel]="username" (ngModelChange)="greetSomeOne($event)">
      <h4 class="text-center"> Welcome User {{ username }} </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 ">
      <label for="customerName"></label>
      <input class="center-block" name="customerName" type="text" [(ngModel)]="customerName" >
      <h4 class="text-center"> Welcome Customer {{ customerName }} </h4>
    </div>
  </div>







</div>
